{% for venta in ventas %}
<tr hx-get="/pruebas/detalle_pedido/{{ venta.id }}" 
    hx-target="#right_panel" 
    hx-swap="innerHTML" 
    style="cursor:pointer">
    <td>{{ venta.id }}</td>
    <td>{{ venta.fecha_hora.strftime('%H:%M') if venta.fecha_hora }}</td>
    <td>{% if venta.cliente and venta.cliente.persona %}
            {{ venta.cliente.persona.direccion or venta.cliente.persona.direccion }}
        {% else %}
            Sin Dirección
        {% endif %}
    </td>
    <td>{% if venta.cliente and venta.cliente.persona %}
            {{ venta.cliente.persona.telefono or venta.cliente.persona.telefono }}
        {% else %}
            Sin teléfono
        {% endif %}
    </td>
    <td>
        {% if venta.cliente and venta.cliente.persona %}
            {{ venta.cliente.persona.razon_social or venta.cliente.persona.razon_social }}
        {% else %}
            Sin cliente
        {% endif %}
    </td>
    <td>pepe</td>
    <td>{{ venta.fecha_hora|timeago }}</td> <!-- Nueva columna con tiempo transcurrido -->
    <td>${{ venta.total }}</td>
    <td>
        <button class="btn btn-sm btn-warning">Enviar</button>
    </td>
</tr>
{% endfor %}